/* Light mode styles (default) */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #333;
    position: relative;
}

header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.content {
    width: 100%; /* Continues to span the full width */
    max-width: 80%; /* Allows it to grow until 80% of the viewport width on larger screens */
    margin: 0 auto; /* Keeps it centered */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logout-button {
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #da190b; /* Darker red */
}

/* Button styling remains the same */
button {
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#start-server {
    background-color: #4CAF50;
    /* Green */
}

#start-server:hover {
    background-color: #45a049;
    /* Darker green */
}

#stop-server {
    background-color: #f44336;
    /* Red */
}

#stop-server:hover {
    background-color: #da190b;
    /* Darker red */
}

#backup-server {
    background-color: #04d6d6;
    /* Aqua */
}

#backup-server:hover {
    background-color: #05aeb4;
    /* Darker aqua */
}
#restart-server {
    background-color: #ffcc00; /* Yellow */
}

#restart-server:hover {
    background-color: #dca502; /* Darker yellow */
}

button:disabled {
    background-color: #cccccc;
    /* Light gray */
    color: #666666;
    /* Dark gray */
    cursor: not-allowed;
    box-shadow: none;
}
#progress-area {
    width: 100%; /* Adjust the width of the progress area */
    text-align: center; /* This will center the percentage text */
    margin-top: 20px; /* Adjust this value to match the space you want */
}

#progress-container {
    display: none; /* Hide the progress bar initially */
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    margin: 0 auto 10px auto; /* Center the container and add space under it */
    position: relative; /* For absolute positioning of percentage text */
    margin-bottom: 20px; /* Add space for the percentage text below */
    width: 100%;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    transition: width 0.4s ease;
}

#progress-percentage {
    display: none; /* Ensure it is not set to none */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Adjust this value so the text appears just below the progress bar */
    color: #333; /* Color may need to change based on the theme */
    font-size: 1rem; /* Set an appropriate font size */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ccc;
    }

    h1 {
        color: #ccc;
    }

    button {
        background-color: #666;
        /* Default button background in dark mode */
        color: #fff;
    }

    #start-server {
        background-color: #198754;
        /* Bootstrap green */
    }

    #start-server:hover {
        background-color: #146c43;
        /* Darker green */
    }

    #stop-server {
        background-color: #dc3545;
        /* Bootstrap red */
    }

    #stop-server:hover {
        background-color: #bb2d3b;
        /* Darker red */
    }

    button:disabled {
        background-color: #444;
        /* Darker gray for disabled buttons */
        color: #666;
    }

    #backup-server {
        background-color: #20B2AA;
        /* LightSeaGreen for contrast in dark mode */
    }

    #backup-server:hover {
        background-color: #1D7F7E;
        /* Darker LightSeaGreen */
    }
    #progress-percentage {
        color: white; /* White color text for dark mode */
    }

}

/* Responsive adjustments for screens less than 768px wide */
@media (max-width: 768px) {
    body {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    header {
        top: 10px;
        right: 10px; /* Adjust right positioning for better edge spacing on small screens */
    }
    #logout-button {
        padding: 12px 24px; /* Slightly increased padding */
        font-size: 16px; /* Appropriate font size for visibility */
        line-height: 20px; /* Adjust line height to center text vertically */
        display: flex; /* Use flexbox to center content */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    h1 {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
        margin-top: 20px; /* Provide some top margin for spacing */
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    #logout-button {
        padding: 6px 12px; /* Even smaller padding for a neater appearance */
        font-size: 12px; /* Reduce font size further for space efficiency */
    }
    .content {
        width: 100%; /* Use full width for layout adjustments */
    }
    button {
        width: 90%; /* Make buttons slightly smaller than full width for aesthetics */
        margin: 10px 5%; /* Center buttons with automatic margins */
        padding: 12px; /* Slightly smaller padding */
        font-size: 14px; /* Adjust font size for readability */
    }
    #progress-area {
        width: 90%; /* Adjust the progress area width to match button styling */
    }

    #start-server,
    #stop-server,
    #backup-server,
    #progress-container,
    #progress-percentage {
        margin-bottom: 10px;
    }
   
}
